.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: calc(33.30% - 20px); /* Adjusted width for 3 cards per row */
  flex-grow: 1; /* Allowing flex items to grow */
  flex-shrink: 0; /* Preventing flex items from shrinking */

  }
  
  .container:hover{
    background-color: #2e374a;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
  }
  
  .detail {
    font-size: 14px;
    font-weight: 300;
  }
  